
@*
_HomeSideBarMenuComponent
*@


<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item active ">
            <a asp-controller="Home" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Anasayfa</span>
            </a>
        </li>


        <li class="sidebar-item active">
            <a asp-controller="AI" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-map-fill"></i>
                <span>AI </span>
            </a>

        </li>


        <li class="sidebar-item active ">
            <a asp-controller="About" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-file-earmark-medical-fill"></i>
                <span>Hakkımda </span>
            </a>
        </li>


        <li class="sidebar-item active">
            <a asp-controller="Feature" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-basket-fill"></i>
                <span>Öne Çıkan Alan</span>
            </a>
        </li>



        <li class="sidebar-title">Listeler</li>

        <li class="sidebar-item ">
            <a asp-controller="AboutItem" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-hexagon-fill"></i>
                <span>Hakkımda Itemleri</span>
            </a>
        </li>

        <li class="sidebar-item ">
            <a asp-controller="Category" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Kategoriler</span>
            </a>
        </li>

        <li class="sidebar-item ">
            <a asp-controller="Product" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-grid-1x2-fill"></i>
                <span>Ürünler</span>
            </a>
        </li>
        
        <li class="sidebar-item  has-sub">
            <a asp-controller="Banner" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-pen-fill"></i>
                <span>Banner </span>
            </a >                         
        </li>

        <li class="sidebar-item  ">
            <a asp-controller="Choose" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-pen-fill"></i>
                <span>Seçenekler </span>
            </a>
        </li>
       
        <li class="sidebar-item  ">
            <a asp-controller="Testimonial" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-bar-chart-fill"></i>
                <span>Referanslar</span>
            </a>
        </li>

        <li class="sidebar-item  ">
            <a asp-controller="FAQ" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-cloud-arrow-up-fill"></i>
                <span>Sıkça Sorulan Sorular</span>
            </a>
        </li>

        <li class="sidebar-item  ">
            <a asp-controller="SocialMedia" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-envelope-fill"></i>
                <span>Sosyal Medya</span>
            </a>
        </li>


        <li class="sidebar-title">Profil Yönetimi</li>

        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-person-badge-fill"></i>
                <span>Authentication</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="auth-login.html">Login</a>
                </li>
                <li class="submenu-item ">
                    <a href="auth-register.html">Register</a>
                </li>
                <li class="submenu-item ">
                    <a href="auth-forgot-password.html">Forgot Password</a>
                </li>
            </ul>
        </li>



        <li class="sidebar-item  ">
            <a asp-area="" asp-controller="Home" asp-action="Index" class='sidebar-link'>
                <i class="bi bi-cash"></i>
                <span>WEBUI Geçiş</span>
            </a>
        </li>

    </ul>
</div>