
@*
    _HomeAboutViewComponent
*@

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="~/WEBUI/img/about-img.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                <h1 class="mb-4">We Make Your Business Smarter with Artificial Intelligence</h1>
                <p class="mb-4">
                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                    amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                    clita duo justo et tempor eirmod magna dolore erat amet
                </p>
                <p class="mb-4">
                    Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no
                    labore lorem sit. Sanctus clita duo justo et tempor.
                </p>
             
                
                @await Component.InvokeAsync("_HomeAboutItemComponent")
               

                @await Component.InvokeAsync("_HomeSocialComponent")
               
            </div>
        </div>
    </div>
</div>