

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- Hero Start -->

@await Component.InvokeAsync("_HomeHeroComponent")


<!-- Hero End -->

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-light p-3"
                           placeholder="Type search keyword">
                    <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- About Start -->

@await Component.InvokeAsync("_HomeAboutComponent")

<!-- About End -->

<!-- Service Start -->

@await Component.InvokeAsync("_HomeServiceComponent")


<!-- Service End -->

<!-- Feature Start -->

@await Component.InvokeAsync("_HomeChooseComponent")

<!-- Feature End -->

<!--Project Start -->

@await Component.InvokeAsync("_HomeProjectComponent")

<!-- Project End -->

<!-- FAQs Start -->
@await Component.InvokeAsync("_HomeFAQComponent")
<!-- FAQs Start -->


<!-- Team Start -->
@await Component.InvokeAsync("_HomeTeamComponent")

<!-- Team End -->

<!-- Testimonial Start -->

@await Component.InvokeAsync("_HomeTestimonialComponent")

<!-- Testimonial End -->


<!-- Newsletter Start -->
@await Component.InvokeAsync("_HomeUserMessageComponent")
<!-- Newsletter End -->
